# Ignorar ambiente virtual
venv/

# Ignorar arquivos temporários do Jupyter
.ipynb_checkpoints/

# Ignorar compilação do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de logs
*.log

# Configurações locais do VSCode
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db